<nav>
    <% if(isAuth) { %>
        <ul id="top-menu">
            <span class="dashboard-menu-icon menu_icons_item"><i class="fas fa-bars"></i></span>
            <div class="flex">
                <div class="p-relative">
                    <i class="fas fa-cogs sub-menu_btn menu_icons_item"></i>
                    <ul class="sub-menu">
                        <li> <a href="/admin/settings/account"> حسابي</a> </li>
                        <li> <a href="/admin/settings/admins"> المشرفين</a> </li>
                        <li> <a href="/admin/settings/roles"> الادوار</a> </li>
                        <li> <a href="/logout"> تسجيل الخروج</a> </li>
                    </ul>
                </div>
                <i class="fas fa-bell menu_icons_item"></i>
            </div>
        </ul>
        <ul id="dashboard-menu" class="menu-closed">
            <div id="dashboard-menu_header">
                <span class="dashboard-menu-icon menu_icons_item""><i class=" fas fa-bars"></i></span>
                <div class="logo m-l-3">
                    <a href="/driver/dashboard"><img src="/user/images/icon.png" alt="" srcset=""></a>
                </div>
            </div>
            <!-- <a href="./sales/add"><b>Add Sales</b><i class="far fa-calendar-plus"></i> </a> -->
            <!-- <a href="../pos/sessions.ejs"><b>Sessions</b><img src="/admin/images/pos.png" alt="Sales"></a> -->
            <a class="dashboard-menu_item" href="/driver/dashboard"><b>الرئيسيه</b></a>
            <a class="dashboard-menu_item" href="/driver/shipments"><b>شحناتك</b></a>
            <a class="dashboard-menu_item" href="/driver/custody"><b>العهدات</b></a>
            <a class="dashboard-menu_item" href="/driver/commissions"><b>العمولات</b></a>
            <a class="dashboard-menu_item" href="/driver/chat"><b>الشات</b></a>
            <a class="dashboard-menu_item" href="/driver/settings"><b>الاعدادت</b> </a>
            <a class="dashboard-menu_item" href="/logout"><b>تسجيل خروج</b> <img src="/admin/images/exit.png" alt=""></a>
        </ul>
        <%}%>

</nav>