<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('./includes/styles.ejs') %>
        <link rel="stylesheet" href="/admin/css/expenses.css" />

</head>


<body>

    <%- include('./includes/side-nav.ejs') %>
        <div class="wrapper">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <!-- Expenses -->
            <main>
                <section class="head">
                    <div class="flex f-space-between">
                        <h2>المصاريف</h2>
                        <!--Main Actions -->
                        <aside class="flex f-space-between">

                            <a class="btn bg-w toggle-new-item">فاتوره جديده</a>
                        </aside>
                    </div>
                </section>
                <section class="search">
                    <input class="item" type="text" name="search-name" id="search-name"
                        placeholder="ابحث برقم الفاتوره">
                    <div class="flex">
                        <a href="" class="download-sheet none">Download</a>
                        <div class="flex item">

                            <select name="search-date-type b-0" id="search-date-type">
                                <option value="date">تاريخ الانشاء </option>
                                <option value="release_date">تاريخ الاصدار </option>
                                <option value="due">تاريخ الاستحقاق</option>
                            </select>
                            <div id="reportrange" data-filter="date">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span></span>
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="p-relative">
                            <a class="item sub-menu_btn">فلتر<i class="fa fa-caret-down m-r-3 m-l-3"></i></a>
                            <ul class="sub-menu">
                                <li class="p-relative">
                                    <a class="sub-menu_btn second-level">التصنيف<i
                                            class="fa fa-caret-left m-r-3 m-l-3"></i></a>
                                    <ul class="sub-menu">

                                        <li class="filter-items" data-filter="category" data-sku="عموله"
                                            data-val="commission">
                                            عموله</li>

                                        <li class="filter-items" data-filter="category" data-sku="عهده"
                                            data-val="custody">
                                            عهده</li>
                                        <li class="filter-items" data-filter="category" data-sku="مقدم شحنه"
                                            data-val="shipment">
                                            مقدم شحنه</li>
                                        <li class="filter-items" data-filter="category" data-sku="بنزين"
                                            data-val="fuels">
                                            بنزين</li>
                                        <li class="filter-items" data-filter="category" data-sku="صيانه"
                                            data-val="maintenance">
                                            صيانه</li>
                                    </ul>

                                </li>
                                <li class=" p-relative" id="zones">
                                    <a class="sub-menu_btn second-level">الحاله<i
                                            class="fa fa-caret-left m-r-3 m-l-3"></i></a>
                                    <ul class="sub-menu">
                                        <li class="filter-items" data-filter="status" data-sku="تم الدفع"
                                            data-val="true">
                                            تم الدفع</li>
                                        <li class="filter-items" data-filter="status" data-sku="لم يتم الدفع"
                                            data-val="false">
                                            لم يتم الدفع</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="options-filters flex"> </div>

                </section>

                <div class="expenses-box">
                    <div class="expenses-box_assign">
                        <div class="assign_employees">
                            <img src="/admin/images/loading(3).svg" class="loading loading-small none">
                            <i class="fas fa-times close"> </i>
                        </div>
                    </div>
                    <div class="invoice-wrapper">
                        <i class="fas fa-times close close-invoice" style="color:black"></i>
                    </div>

                </div>
                <div class="client-info_basics m-large">

                    <div class="new-item-box slideable">

                        <form action="/create-bill" class="inside-wrapper" method="POST">
                            <div class="flex f-space-between form-actions ">
                                <h3>انشاء فاتوره جديده</h3>
                                <button id="submitExpenses" type="submit" class="btn btn-success">
                                    <span class="arrow">
                                        <span>Save</span>
                                        <i class="fas fa-arrow-up"></i>
                                    </span>
                                </button>
                            </div>
                            <i class="fas fa-times close toggle-new-item"></i>
                            <div class="grid g-two">
                                <div>
                                    <div class="form-group">
                                        <label for="billType">نوع الفاتوره</label>
                                        <select class="form-control" name="billType" id="billType">
                                            <option value="in">مدفوعات</option>
                                            <option value="out">استقبال</option>
                                        </select>
                                    </div>
                                    <div class="form-group" data-type="out">
                                        <label for="category">تصنيف الفاتوره</label>

                                        <select class="form-control" name="category" id="category">
                                            <option value="commission" data-val="driver" selected>عموله مندوب</option>
                                            <option value="custody" data-val="driver">عهده مندوب</option>
                                            <option value="shipment" data-val="shipment">مقدم شحنه</option>
                                            <option value="fuels" data-val="vehicle">بنزين</option>
                                            <option value="maintenance" data-val="vehicle">صيانه</option>
                                            <option value="utilities">ادوات</option>
                                            <option value="advertising">تسويق</option>
                                            <option value="other">اخري</option>
                                        </select>
                                    </div>
                                    <div class="form-group toggleable none">
                                        <label for="driverNo">اختر المندوب</label>
                                        <select name="" id="driverNo" class="billItemId form-control"
                                            data-item-val="driver">
                                        </select>
                                    </div>
                                    <div class="form-group toggleable none">
                                        <label for="vehicles">اختر المركبه</label>
                                        <select name="" id="vehicles" class="billItemId form-control"
                                            data-item-val="vehicle">
                                        </select>
                                    </div>
                                    <div class="form-group toggleable none">
                                        <label for="shipmentNo">رقم الشحنه</label>
                                        <input type="text" name="" id="shipmentNo" class="billItemId form-control"
                                            data-item-val="shipment">
                                    </div>
                                    <div class="form-group">
                                        <label for="expensesAmount">قيمه الفاتوره</label>
                                        <input class="form-control" type="number" min="0" value="0" name="amount"
                                            placeholder="Expenses Amount" id="amount">
                                    </div>
                                </div>
                                <div>

                                    <div class="form-group">

                                        <label for="date">تارخ الفاتوره</label>
                                        <input class="form-control" type="date" name="" id="date">
                                    </div>
                                    <div class="form-group">
                                        <label for="due">تاريخ الدفع</label>
                                        <input class="form-control" type="date" name="" id="due">
                                    </div>



                                    <div class="form-group">
                                        <label for="paid">تم الدفع</label>
                                        <input type="checkbox" name="paid" placeholder="paid" id="paid">
                                    </div>


                                    <div class="form-group" style="display: none;">
                                        <label for="paidBy">Paid By</label>

                                        <select class="form-control" name="paidBy" id="paidBy">
                                            <option selected value="company">Company</option>
                                            <option value="employee">Employee(to reimburse)</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="notes">ملاحظات</label>
                                        <input class="form-control" type="text" name="notes"
                                            placeholder="Marketing Campaign, Tools..." id="notes">
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
                <div class="content">
                    <section class="options">

                        <div class="flex f-space-between">
                            <div class="flex">

                                <div class="p-relative">
                                    <a class="btn btn-small sub-menu_btn">ترتيب</a>
                                    <ul class="sub-menu">
                                        <li class="sort" data-filter="date" data-sku="الاحدث" data-val="new">الاحدث</li>
                                        <li class="sort" data-filter="date" data-sku="الاقدم" data-val="old">الاقدم</li>
                                        <li class="sort" data-filter="price" data-sku="الاعلي" data-val="high">الاعلي قيمه</li>
                                        <li class="sort" data-filter="price" data-sku="الاقل" data-val="low">الاقل قيمه</li>
                                    </ul>
                                </div>

                                <a class="btn btn-small bar-layout"><i class="fas fa-bars change-layout "></i></a>
                                <a class="btn btn-small grid-layout"><i
                                        class="fas fa-grip-horizontal change-layout"></i></a>
                                <i class="get-insight fas fa-lightbulb btn btn-small bg-lightgray m-3 c-y"></i>
                            </div>
                        </div>

                    </section>
                    <div class="content-desc">
                        <span>رقم الفاتوره</span>
                        <span>التاريخ</span>
                        <span>المبلغ</span>
                        <span>التصنيف</span>
                    </div>
                    <div class="items"></div>
                    <img class="loading none" src="/admin/images/loading(3).svg">

                </div>

                <div class="insight_content scaleable">
                    <div class="inside-wrapper">
                        <h2 class="f-center">نظره خاصه</h2>
                        <i class="fas fa-times close close-insight"></i>
                        <div class="form-actions flex f-space-evenly"></div>
                        <div class="grid p-medium">
                            <div class=" items-wrapper">
                                <h4>عدد ظهور العنصر</h4>
                                <div class="insight-items numbers p-relative"></div>
                            </div>
                            <div class=" items-wrapper">

                                <h4>مصاريف التنصيفات</h4>
                                <div class=" insight-items revenue  p-relative">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="operations-summary"> </div>

            </main>


        </div>
        <%- include('./includes/scripts.ejs') %>

            <script src="/admin/modules/components/bills.js"></script>
            <script src="/admin/modules/interface/bills.js"></script>
</body>

</html>