<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('./includes/styles.ejs') %>
        <link rel="stylesheet" href="/admin/css/driver.css" />

</head>

<body>
    <%- include('./includes/side-nav.ejs') %>
        <div class="wrapper">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <main id="drivers">
                <section class="head">
                    <div class="flex f-space-between">
                        <h2>السائقين</h2>
                        <!--Main Actions -->
                        <aside class="flex f-space-between">

                            <a class="btn bg-w toggle-new-dirver">سائق جديد</a>
                        </aside>
                    </div>
                </section>
                <section class="search flex ">

                    <input class="form-control" type="text" name="search-driver-name" id="search-driver-name"
                        placeholder="ابحث بالاسم او الرقم">

                </section>


                <div class="options-filters flex">

                </div>
                <div class="client-info_basics m-large">
                    <div class="new-driver-box slideable">
                        <form action="/create-driver" method="post" class="inside-wrapper">
                            <div class="form-actions flex f-space-around">
                                <h3>سائق جديد</h3>
                                <button type="submit" class="btn btn-success save-driver">حفظ</button>
                            </div>
                            <i class="fas fa-times close toggle-new-dirver"></i>
                            <div class="grid g-two">

                                <div>
                                    <div class="form-group">
                                        <label for="driverName">اسم السائق <span class="c-r">*</span></label>
                                        <input type="text" id="driverName" class="form-control" name="newdrivername"
                                            placeholder="driver Name..">
                                    </div>
                                    <div class="form-group">
                                        <label for="driverNumber">رقم السائق</label>
                                        <input type="number" id="driverNumber" class="form-control"
                                            name="newdrivermobile" placeholder="Client Mobile..">
                                    </div>
                                    <div class="form-group">
                                        <label for="driverAddress">عنوان السائق</label>
                                        <input type="text" id="driverAddress" class="form-control"
                                            name="newdriveraddress" placeholder="Client Address..">
                                    </div>
                                    <div class="form-group">
                                        <label for="driverEmail">البريد الالكتروني</label>
                                        <input type="email" id="driverEmail" class="form-control" name="newdriveremail"
                                            placeholder="Client Email..">
                                    </div>
                                </div>

                                <div>
                                    <div class="form-group">
                                        <label for="driverImage">صوره السائق</label>
                                        <input type="file" id="driverImage" class="form-control driverImage"
                                            name="newdriverimg">
                                    </div>
                                    <div class="form-group">
                                        <label for="baseSalary">المرتب</label>
                                        <input type="number" class="form-control" name="baseSalary" id="baseSalary">
                                    </div>

                                    <div class="form-group">
                                        <label for="commission">العموله</label>
                                        <input type="number" class="form-control" name="commission" id="commission">
                                    </div>
                                    <div class="form-group">
                                        <label for="newdrivernotes">ملحوظه</label>
                                        <input type="email" id="newdrivernotes" class="form-control"
                                            name="newdrivernotes" placeholder="Leave Note....">
                                    </div>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>

                <div class="content  g-three">
                    <div class="options ">
                        <a href="" class="btn btn-small create-excel">Export <i class="fas fa-file-excel"></i></a>
                        <div class="p-relative">
                            <a class="btn btn-small sub-menu_btn">ترتيب</a>
                            <ul class="sub-menu">
                                <li class="sort" data-filter="shipmentslength" data-sku="الاحدث" data-val="new">الاكتر شحنات</li>
                                <li class="sort" data-filter="shipmentslength" data-sku="الاقدم" data-val="old">الاقل شحنات</li>
                                <li class="sort" data-filter="commission" data-sku="الاعلي" data-val="high">الاعلي حصول علي عمولات</li>
                                <li class="sort" data-filter="commission" data-sku="الاقل" data-val="low">الاقل حصول علي عمولات</li>
                            </ul>
                        </div>
                        <a class="btn btn-small m-3 bar-layout p-medium"><i class="fas fa-bars "></i></a>
                        <a class="btn btn-small m-3 grid-layout p-medium"><i class="fas fa-grip-horizontal "></i></a>
                    </div>
                    <div class="content-desc">
                        <span>الاسم</span>
                        <span>الرقم</span>
                        <span>عدد الشحنات</span>
                    </div>
                    <div class="items"></div>
                    <img class="loading none" src="/admin/images/loading(3).svg">
                </div>


                <div class="pop-up_container none" data-form="assignShipment" id="create_form">
                    <div class="pop-up_container_form">
                        <i class="fas fa-times close close-form"></i>
                        <form class="assign-shipment">
                            <div class="form-group">
                                <label for="name">رقم الشحنه</label>
                                <input type="text" name="name" id="shipmentNo" placeholder="ادخل رقم الشحنه " required>
                            </div>
                            <div class="flex f-end">
                                <button type="submit" class="btn btn-success m-3">تعين</button>
                                <a class="btn btn-danger close-form m-3">اغلاق</a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="drivers-shipments slideable ">
                    <div class="inside-wrapper p-large">

                        <div class="form-actions">
                            <i class="fas fa-times close font-xl close-shipments"></i>

                            <h4>جميع شحنات المنودب </h4>
                            <section class="search">
                                <div>
                                    <a href="" class="download-sheet none">Download</a>
                                    <div class="flex item">

                                        <select name="search-date-type" id="search-date-type">
                                            <option value="pickup_date">تاريخ التسليم</option>
                                            <option value="delivery_date">تاريخ الاستلام</option>
                                            <option value="driver.assignedAt">تاريخ التعيين</option>
                                        </select>
                                        <div id="reportrange">
                                            <i class="fa fa-calendar"></i>&nbsp;
                                            <span></span>
                                            <i class="fa fa-caret-down"></i>
                                        </div>
                                    </div>

                                    <select name="search-status" id="search-status" class="item">
                                        <option disabled selected>البحث بحاله الشحنه</option>
                                        <option value="2">في المقر </option>
                                        <option value="3">في الطريق </option>
                                        <option value="4">تم التسليم</option>
                                        <option value="5">الغاء</option>
                                    </select>
                                    <input class="item" type="text" name="search-name" id="search-name"
                                        placeholder="ابحث برقم الشحنه">
                                </div>
                            </section>
                            <div class="flex">

                                <div class="p-relative">
                                    <a class="btn btn-small sub-menu_btn">ترتيب</a>
                                    <ul class="sub-menu">
                                        <li class="sort-new sort-date">الجديد</li>
                                        <li class="sort-old sort-date">القديم</li>
                                    </ul>
                                </div>
                                <div class="p-relative">
                                    <a class="btn btn-small sub-menu_btn">فلتر</a>
                                    <ul class="sub-menu">
                                        <li class="filter" data-status="4">تم التوصيل</li>
                                        <li class="filter" data-status="5"> مرتجع</li>
                                    </ul>
                                </div>
                            </div>
                            <img src="/admin/images/loading(3).svg" class="loading small none">
                            <div class="items"></div>
                            <div class="totals p-medium flex f-space-around">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="vehicle-maintenance info-table slideable ">
                    <div class="inside-wrapper p-large">

                        <div class="form-actions">
                            <i class="fas fa-times close font-xl close-info-table"></i>

                            <h4 class="info-table_heading">جميع مصاريف </h4>
                            <div class="flex">

                                <div class="p-relative">
                                    <a class="btn btn-small sub-menu_btn">ترتيب</a>
                                    <ul class="sub-menu">
                                        <li class="sort-new sort-date">الجديد</li>
                                        <li class="sort-old sort-date">القديم</li>
                                    </ul>
                                </div>
                                <div class="p-relative">
                                    <a class="btn btn-small sub-menu_btn">فلتر</a>
                                    <ul class="sub-menu">
                                        <li class="filter" data-status="4">تم التوصيل</li>
                                        <li class="filter" data-status="5"> مرتجع</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items"></div>
                            <div class="totals p-medium flex f-space-around">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-driver_form slideable"></div>
            </main>

        </div>


        <%- include('./includes/scripts.ejs') %>
            <script src="/admin/modules/components/drivers.js"> </script>
            <script src="/admin/modules/interface/drivers.js"> </script>
</body>

</html>