<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('./includes/styles.ejs') %>
        <link rel="stylesheet" href="/admin/css/shipments.css" />

</head>

<body>
    <%- include('./includes/side-nav.ejs') %>
        <div class="wrapper">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <main id="shipments">
                <section class="head">
                    <div class="flex f-space-between">
                        <h2>المخزن</h2>
                        <!--Main Actions -->
                        <aside class="flex f-space-between">
                        </aside>
                    </div>
                </section>
                <section class="search">
                    <div>
                        <a href="" class="download-sheet none">Download</a>
                        <div class="flex item">

                            <select name="search-date-type" id="search-date-type">
                                <option value="entry_date">تاريخ الدخول </option>
                                <option value="leaved_date">تاريخ الخروج</option>
                            </select>
                            <div id="reportrange">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span></span>
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </div>

                        <select name="search-status" id="search-status" class="item">
                            <option disabled selected>البحث بحاله الشحنه</option>
                            <option value="2">في المقر</option>
                            <option value="3">في الطريق </option>
                            <option value="4">تم التسليم</option>
                            <option value="5">الغاء</option>
                        </select>
                        <input class="item" type="text" name="search-name" id="search-name"
                            placeholder="ابحث برقم الشحنه">
                    </div>
                </section>

                <div class="options-filters flex">

                </div>

                <div class="content">
                    <div class=" options">
                        <div class="p-relative">
                            <a class="btn btn-small sub-menu_btn">فلتر</a>
                            <ul class="sub-menu">
                                <li class="filter-shipments" data-filter="status" data-sku="في المقر" data-val="2"> في
                                    المقر</li>
                                <li class="filter-shipments" data-filter="status" data-sku="في الطريق" data-val="3">في
                                    الطريق</li>
                                <li class="filter-shipments" data-filter="status" data-sku="تم التوصيل" data-val="4"> تم
                                    التوصيل</li>
                                <li class="filter-shipments" data-filter="status" data-sku="مرتجع" data-val="5">مرتجع
                                </li>
                                <li class="filter-shipments" data-filter="status" data-sku="ملغاه" data-val="6">ملغاه
                                </li>
                            </ul>
                        </div>
                        <div class="p-relative">
                            <a class="btn btn-small sub-menu_btn">ترتيب</a>
                            <ul class="sub-menu">
                                <li class="sort" data-filter="date" data-sku="الاحدث" data-val="new">الاحدث</li>
                                <li class="sort" data-filter="date" data-sku="الاقدم" data-val="old">الاقدم</li>
                                <li class="sort" data-filter="price" data-sku="الاعلي" data-val="high">الاعلي</li>
                                <li class="sort" data-filter="price" data-sku="الاقل" data-val="low">الاقل</li>
                            </ul>
                        </div>
                        <a href="" class="btn btn-small create-excel">Export <i class="fas fa-file-excel"></i></a>
                        <a class="btn btn-small m-3 bar-layout p-medium"><i class="fas fa-bars "></i></a>
                        <a class="btn btn-small m-3 grid-layout p-medium"><i class="fas fa-grip-horizontal "></i></a>
                    </div>
                    <div class="content-desc">
                        <span>رقم الشحنه</span>
                        <span>سعر الشحنه</span>
                        <span>تاريخ الدخول</span>
                        <span>حاله الشحنه</span>
                    </div>
                    <div class="items"></div>
                    <img class="loading none" src="/admin/images/loading(3).svg">
                </div>


                <div class="pop-up_container none" data-form="statusForm" id="create_form">
                    <div class="pop-up_container_form">
                        <i class="fas fa-times close close-form"></i>
                        <form class="change-status">
                            <div class="form-group">
                                <label for="name">تغير حاله الشحنه</label>
                                <select name="shipmentstatus" id="shipmentstatus">
                                    <option value="2">تم الاستلام</option>
                                    <option value="3">في الطريق </option>
                                    <option value="4">تم التسليم</option>
                                    <option value="5">الغاء</option>
                                </select>
                            </div>
                            <div class="shipmentreason form-group none">
                                <label for="shipmentreason">السبب</label>
                                <input type="text" name="shipmentreason" id="shipmentreason">

                            </div>
                            <div class="flex f-end">
                                <button type="submit" class="btn btn-success m-3">تغير</button>
                                <a class="btn btn-danger close-form m-3">اغلاق</a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="pop-up_container none" data-form="assignForm" id="create_form">
                    <div class="pop-up_container_form">
                        <i class="fas fa-times close close-form"></i>
                        <form class="assign-shipment">
                            <div class="form-group">
                                <label for="driverNo">اختر المندوب</label>
                                <select name="" id="driverNo">
                                </select>
                            </div>
                            <div class="flex f-end">
                                <button type="submit" class="btn btn-success m-3">تعين</button>
                                <a class="btn btn-danger close-form m-3">اغلاق</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="customer-shipments slideable ">
                    <div class="inside-wrapper p-large">

                        <div class="form-actions">
                            <i class="fas fa-times close font-xl close-shipments"></i>

                            <h4>جميع شحنات المنودب </h4>
                            <div class="flex f-space-between ">
                                <input type="number" name="order-serial" class="order-serial form-control"
                                    placeholder="ابحث برقم الطلب" id="">
                                <div>
                                    <a class="btn btn-small sub-menu_btn">ترتيب</a>
                                    <ul class="sub-menu">
                                        <li class="sort-new sort-date">الجديد</li>
                                        <li class="sort-old sort-date">القديم</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img src="/admin/images/loading(3).svg" class="loading small none">

                    </div>
                </div>
            </main>

        </div>


        <%- include('./includes/scripts.ejs') %>
            <script src="/admin/modules/components/inventory.js"> </script>
            <script src="/admin/modules/interface/inventory.js"> </script>
</body>

</html>