<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('./includes/styles.ejs') %>
        <link rel="stylesheet" href="/admin/css/shipments.css" />

</head>

<body>
    <%- include('./includes/side-nav.ejs') %>
        <div class="wrapper">
            <input class="form-control" type="hidden" name="_csrf" value="<%= csrfToken %>">

            <main id="shipments">
                <section class="head">
                    <div class="flex f-space-between">
                        <h2>الشحنات</h2>
                        <!--Main Actions -->
                        <aside class="flex f-space-between">
                            <a class="btn bg-w toggle-new-shipment">شحنه جديد</a>
                        </aside>
                    </div>
                </section>
                <section class="search">
                    <input class="item" type="number" name="search-name" id="search-name" placeholder="ابحث برقم الشحنه">

                    <div class="flex">
                        <a href="" class="download-sheet none">Download</a>
                        <div class="flex item">

                            <select name="search-date-type" id="search-date-type">
                                <option value="date">تاريخ الانشاء </option>
                                <option value="pickup_date">تاريخ التسليم</option>
                                <option value="delivery_date">تاريخ الاستلام</option>
                            </select>
                            <div id="reportrange" class="" data-filter="date">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span></span>
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="p-relative">
                            <a class="item sub-menu_btn">فلتر<i class="fa fa-caret-down m-r-3 m-l-3"></i></a>
                            <ul class="sub-menu">
                                <li class=" p-relative">
                                    <a class="sub-menu_btn second-level">بالحاله<i
                                            class="fa fa-caret-left m-r-3 m-l-3"></i></a>
                                    <ul class="sub-menu">
                                        <li class="filter-shipments" data-filter="status" data-sku="في المقر"
                                            data-val="2"> في
                                            المقر</li>
                                        <li class="filter-shipments" data-filter="status" data-sku="في الطريق"
                                            data-val="3">في
                                            الطريق</li>
                                        <li class="filter-shipments" data-filter="status" data-sku="تم التوصيل"
                                            data-val="4"> تم
                                            التوصيل</li>
                                        <li class="filter-shipments" data-filter="status" data-sku="مرتجع" data-val="5">
                                            مرتجع
                                        </li>
                                        <li class="filter-shipments" data-filter="status" data-sku="ملغاه" data-val="6">
                                            ملغاه
                                        </li>
                                    </ul>
                                </li>
                                <li class=" p-relative" id="zones">
                                    <a class="sub-menu_btn second-level">المناطق<i
                                            class="fa fa-caret-left m-r-3 m-l-3"></i></a>
                                    <ul class="sub-menu">
                                        
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="options-filters flex">

                    </div>
                </section>



                <div class="client-info_basics m-large">
                    <div class="new-shipment-box slideable">
                        <form action="/create-item" method="post" class="inside-wrapper">
                            <div class="form-actions flex f-space-between">
                                <i class="fas fa-times close toggle-new-shipment"></i>
                                <h3>شحنه جديد</h3>
                                <button type="submit" class="btn btn-success save-shipment">حفظ</button>
                            </div>

                            <div class="grid g-two">

                                <div class="box">
                                    <h3 class="title">:الراسل </h3>
                                    <div class="form-group">
                                        <label for="name">الاسم <span class="c-r">*</span></label>
                                        <div id="customer_list">
                                            <input class="form-control" type="text" name="name" id="name">
                                            <ul></ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">الرقم<span class="c-r">*</span></label>
                                        <input class="form-control" type="text" name="phone" id="phone">
                                    </div>
                                    <div class="form-group">
                                        <label for="address">العنوان بالكامل<span class="c-r">*</span></label>
                                        <input class="form-control" type="text" name="address" id="address">
                                    </div>
                                    <div class="form-group">
                                        <label for="area">المنطقه</label>
                                        <select class="required form-control" id="area" name="area" id="area">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="building">رقم العقار</label>
                                        <input class="form-control" type="number" name="building" id="building" min="0">
                                    </div>
                                    <div class="form-group">
                                        <label for="floor">الدور</label>
                                        <input class="form-control" type="number" name="floor" id="floor" min="0">
                                    </div>
                                    <div class="form-group">
                                        <label for="apartment">رقم الشقه</label>
                                        <input class="form-control" type="number" name="apartment" id="apartment"
                                            min="0">
                                    </div>
                                </div>
                                <div class="box">
                                    <h3 class="title">:معلومات المستلم</h3>

                                    <div class="form-group">
                                        <label for="recname">الاسم<span class="c-r">*</span></label>
                                        <input class="form-control" type="text" name="recname" id="recname">
                                    </div>
                                    <div class="form-group">
                                        <label for="recphone">الرقم<span class="c-r">*</span></label>
                                        <input class="form-control" type="text" name="recphone" id="recphone">
                                    </div>
                                    <div class="form-group">
                                        <label for="recaddress">العنوان بالكامل<span class="c-r">*</span></label>
                                        <input class="form-control" type="text" name="recaddress" id="recaddress">
                                    </div>

                                    <div class="form-group">
                                        <label for="recarea">المنطقه<span class="c-r">*</span></label>
                                        <select class="required form-control" id="recarea" name="recarea" id="recarea">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="recbuilding">رقم العقار</label>
                                        <input class="form-control" type="number" name="recbuilding" id="recbuilding"
                                            min="0">
                                    </div>
                                    <div class="form-group">
                                        <label for="recfloor">الدور</label>
                                        <input class="form-control" type="number" name="recfloor" id="recfloor" min="0">
                                    </div>
                                    <div class="form-group">
                                        <label for="recapartment">رقم الشقه</label>
                                        <input class="form-control" type="number" name="recapartment" id="recapartment"
                                            min="1">
                                    </div>
                                </div>
                                <div class="box">
                                    <h3 class="title">:معلومات المنتج</h3>

                                    <div class="form-group">
                                        <label for="is_liquid">سائل</label>
                                        <input class="form-control" type="checkbox" name="is_liquid" id="is_liquid">
                                    </div>
                                    <div class="form-group">
                                        <label for="is_fragile">قابل للكسر</label>
                                        <input class="form-control" type="checkbox" name="is_fragile" id="is_fragile">
                                    </div>
                                    <div class="form-group">
                                        <label for="quantity">الكميه<span class="c-r">*</span></label>
                                        <input class="form-control" type="number" name="quantity" id="quantity" min="1">
                                    </div>
                                    <div class="form-group">
                                        <label for="price"> سعر التحصيل<span class="c-r">*</span></label>
                                        <input class="form-control" type="number" name="price" id="price" min="0">
                                    </div>

                                </div>
                                <div class="box">
                                    <h3 class="title">:معلومات اضافيه</h3>

                                    <div class="form-group">
                                        <label for="pickup_date">تاريخ الاستلام <span class="c-r">*</span></label>
                                        <input class="form-control" type="date" name="pickup_date" id="pickup_date">
                                    </div>
                                    <div class="form-group">
                                        <label for="delivery_date">تاريخ التوصيل <span class="c-r">*</span></label>
                                        <input class="form-control" type="date" name="delivery_date" id="delivery_date">
                                    </div>
                                    <div class="form-group">
                                        <label for="notes">ملاحظه</label>
                                        <input class="form-control" type="text" name="notes" id="notes">
                                    </div>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>

                <div class="content">
                    <div class=" options">
                        <div class="p-relative">
                            <a class="btn btn-small sub-menu_btn">ترتيب</a>
                            <ul class="sub-menu">
                                <li class="sort" data-filter="date" data-sku="الاحدث" data-val="new">الاحدث</li>
                                <li class="sort" data-filter="date" data-sku="الاقدم" data-val="old">الاقدم</li>
                                <li class="sort" data-filter="price" data-sku="الاعلي" data-val="high">الاعلي</li>
                                <li class="sort" data-filter="price" data-sku="الاقل" data-val="low">الاقل</li>
                            </ul>
                        </div>
                        <a href="" class="btn btn-small create-excel">Export <i class="fas fa-file-excel"></i></a>
                        <a class="btn btn-small m-3 bar-layout p-medium"><i class="fas fa-bars "></i></a>
                        <a class="btn btn-small m-3 grid-layout p-medium"><i class="fas fa-grip-horizontal "></i></a>
                        <i class="get-insight fas fa-lightbulb btn btn-small bg-lightgray m-3 c-y"></i>

                    </div>
                    <div class="content-desc">
                        <span>رقم الشحنه</span>
                        <span>التاريخ</span>
                        <span>الراسل</span>
                        <span>المستلم</span>
                        <span>حاله الشحنه</span>
                    </div>
                    <div class="items"></div>
                    <img class="loading none" src="/admin/images/loading(3).svg">
                </div>


                <div class="pop-up_container none" data-form="statusForm" id="create_form">
                    <div class="pop-up_container_form">
                        <i class="fas fa-times close close-form"></i>
                        <form class="change-status">
                            <div class="form-group">
                                <label for="name">تغير حاله الشحنه</label>
                                <select name="shipmentstatus" id="shipmentstatus">
                                    <option value="2">في المقر</option>
                                    <option value="3">في الطريق </option>
                                    <option value="4">تم التسليم</option>
                                    <option value="5">الغاء</option>
                                </select>
                            </div>
                            <div class="shipmentreason form-group none">
                                <label for="shipmentreason">السبب</label>
                                <input class="form-control" type="text" name="shipmentreason" id="shipmentreason">

                            </div>
                            <div class="flex f-end">
                                <button type="submit" class="btn btn-success m-3">تغير</button>
                                <a class="btn btn-danger close-form m-3">اغلاق</a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="insight_content scaleable">
                    <div class="inside-wrapper">
                        <h2 class="f-center">رؤيه خاصه</h2>
                        <i class="fas fa-times close close-insight"></i>
                        <div class="form-actions flex f-space-evenly"></div>
                        <div class="grid p-medium">
                            <div class=" items-wrapper">
                                <h4>عدد ظهور المناطق</h4>
                                <div class="insight-items numbers p-relative"></div>
                            </div>
                            <div class=" items-wrapper">

                                <h4>واردات المناطق</h4>
                                <div class=" insight-items revenue  p-relative">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pop-up_container none" data-form="assignForm" id="create_form">
                    <div class="pop-up_container_form">
                        <i class="fas fa-times close close-form"></i>
                        <form class="assign-shipment">
                            <div class="form-group">
                                <label for="driverNo">اختر المندوب</label>
                                <select name="" id="driverNo">
                                </select>
                            </div>
                            <div class="flex f-end">
                                <button type="submit" class="btn btn-success m-3">تعين</button>
                                <a class="btn btn-danger close-form m-3">اغلاق</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="customer-shipments slideable ">
                    <div class="inside-wrapper p-large">

                        <div class="form-actions">
                            <i class="fas fa-times close font-xl close-shipments"></i>

                            <h4>جميع شحنات المنودب </h4>
                            <div class="flex f-space-between ">
                                <input class="form-control" type="number" name="order-serial"
                                    class="order-serial form-control" placeholder="ابحث برقم الطلب" id="">
                                <div>
                                    <a class="btn btn-small sub-menu_btn">ترتيب</a>
                                    <ul class="sub-menu">
                                        <li class="sort-new sort-date">الجديد</li>
                                        <li class="sort-old sort-date">القديم</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img src="/admin/images/loading(3).svg" class="loading small none">

                    </div>
                </div>
            </main>

        </div>


        <%- include('./includes/scripts.ejs') %>
            <script src="/admin/modules/components/shipments.js"> </script>
            <script src="/admin/modules/interface/shipments.js"> </script>
</body>

</html>