form{
    padding: var(--m-padding);
    margin: var(--m-margin);
    background-color: #fff;
    border-radius: var(--s-radius);
    border: 1px solid #ccc;
}
form h3{
    margin: var(--s-margin) 0;

}

form >div{
    padding: var(--m-padding);
    margin-bottom: var(--s-margin);
}