
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    /* right: -100%; */
    left: 50px;
    /* /* margin-left: -60px; */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.copied {
    transition: .3s;
    color: rgb(0, 255, 0);
}

.done {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #333;
    color: rgb(0, 255, 0);
    font-size: 13px;
    height: 90%;
    width: 90%;
    text-align: center;
    align-items: center;

}





.orders .orders-top .left h2 {
    /* color: #fff; */
}

.orders .orders-top .left p {
    margin-right: 10rem;
}

.orders .orders-top .right button {
    background-color: var(--main-color);
    color: #fff;
    font-weight: 600;
    width: 10rem;
    padding: 1rem;
    border-radius: 2px;
    opacity: 0.9;
}

.orders .orders-top .right button:hover {
    opacity: 0.75;
}

.orders .orders-body {
    margin-top: 2rem;
}

.orders .orders-body table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

.orders .orders-body table td, .orders .orders-body table th {
    text-align: right;
    padding: var(--m-padding);
}

.orders .orders-body table tr {
    border-bottom: 1px solid #ddd;
}


@keyframes animate {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
    .orders .orders-body table {
        font-size: 15px;
    }
}

@media only screen and (min-width: 351px) and (max-width: 767px) {
    .orders .orders-body table {
        font-size: 15px;
    }
    .orders .orders-body table td, .orders .orders-body table th {
        padding: var(--s-padding);
        font-size: 14px;
    }
    .orders {
        max-width: 550px;
        padding: 1.5rem .5rem 5rem .5rem;
    }
    .orders .orders-top .left p {
        margin-right: 2rem;
    }
    .orders .orders-top .right button {
        font-size: 0.8rem;
        color: #fff;
        width: 6rem;
        padding: 1rem 0.2rem;
    }
    /* .create_order .create_order-orders {
        max-width: 300px;
    } */
}

@media (max-width: 350px) {
    .orders .orders-body table {
        font-size: 13px;
    }
    .orders {
        max-width: 350px;
        padding: 1.5rem .5rem 5rem .5rem;
    }
    .orders .orders-top {
        flex-direction: column;
    }
    .orders .orders-top .left {
        text-align: center;
    }
    .orders .orders-top .left p {
        margin-right: 0rem;
    }
    .orders .orders-top .right button {
        width: 8rem;
    }
}