<nav>
    <div id="top-nav">
        <div class="logo m-l-3">
            <a href="/"><img src="/user/images/full_logo.png" alt="" srcset=""></a>
        </div>

        <div class="sideMenuI">
            <a id="dashboard-menu-icon"><i class="fas fa-bars"></i></a>
        </div>
    </div>

    <ul id="dashboard-menu" class="menu-closed">
        <!-- <a href="./sales/add"><b>Add Sales</b><i class="far fa-calendar-plus"></i> </a> -->
        <!-- <a href="../pos/sessions.ejs"><b>Sessions</b><img src="/admin/images/pos.png" alt="Sales"></a> -->
        <a href="/user/shipments"><b>الشحنات</b></a>
        <a href="/user/tracking"><b>تتبع الشحنة</b></a>
        <a href="/user/tokens"><b>الرموز</b></a>
        <a href="/user/settings"><b>الاعدادت</b> </a>
        <a href="/logout"><b>تسجيل خروج</b> <img src="/admin/images/exit.png" alt=""></a>
    </ul>

</nav>