<footer>
    <div class="footer-wrapper grid g-two">

        <div class="footer-social">
            <h3>تابعنا</h3>
            <ul>
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-google"></i></a></li>
            </ul>
            <ul class="footer-contact_menu">
                <li><a href="">الدعم</a></li>
                <li><a href="/about">عن شركتنا</a></li>
                <li><a href="/contact">تواصل معانا</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h3>أتصل بنا</h3>

            <p> 002-01156565910</p>
            <p> 129 Khalid ebn alwalid st. Gessr lSewass, Cairo.</p>
            <form action="/ContactUs" method="POST">
                <input type="email" name="email" id="email" placeholder="Email Address" required>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

</footer>