<nav id="menu">
    <div class="top">
        <a href="/driver/login">السائقين</a>
        <a href="/admin/login">الاداره</a>
    </div>
    <ul>
        <% if(!isAuth) { %>
            <li>
                <a class="hvr-float" href="/login">تسجيل الدخول</a>
            </li>
            <li>
                <a class="hvr-float" href="/signup">اشترك معانا</a>
            </li>
            <%}%>
                <% if(isAuth) { %>
                    <li>
                        <a class="hvr-float" href="/logout">تسجيل الخروج</a>
                    </li>
                    <li>
                        <a class="hvr-float" href="/user/shipments">لوحه التحكم</a>
                    </li>
                    <%}%>

                        <li>
                            <a class="hvr-float" id="logo" href="/"> <img src="/user/images/full_logo.png" alt="logo"
                                    srcset="/user/images/full_logo.png"></a>
                        </li>
                        <li>
                            <a class="hvr-float" href="/about">عن الشركه</a>
                        </li>
                        <li>
                            <a class="hvr-float" href="/contact">تواصل معانا</a>
                        </li>
    </ul>
</nav>

<nav id="mobile-menu">
    <div class="flex f-space-between">
        <i class="toggle-menu fas fa-bars"></i>
        <a id="logo" href="/"><img src="/user/images/mixed.png" alt="logo" srcset="/user/images/mixed.png"></a>
    </div>
    <ul>
        <i class="toggle-menu fas fa-times"></i>

        <li class="hvr-bounce-to-right">
            <a href="/user/shipments">شحناتك</a>
        </li>
        <% if(!isAuth) { %>
            <li class="hvr-bounce-to-right">
                <a href="/login">تسجيل الدخول</a>
            </li>
            <li class="hvr-bounce-to-right">
                <a href="/signup">اشترك معانا</a>
            </li>
            <%}%>


                <li class="hvr-bounce-to-right">
                    <a href="/about">عن الشركه</a>
                </li>
                <li class="hvr-bounce-to-right">
                    <a href="/contact">تواصل معانا</a>
                </li>
                <% if(isAuth) { %>
                    <li class="hvr-bounce-to-right">
                        <a href="/logout">تسجيل الخروج</a>
                    </li>
                    <%}%>
                        <div class="top">
                            <a href="/driver/login">السائقين</a>
                            <a href="/admin/login">الاداره</a>
                        </div>

    </ul>

</nav>