<div class="pop-up_container none" id="create_form">

    <div class="pop-up_container_form">
        <i class="fas fa-times close close-form"></i>
        <header> شحنه جديد </header>
        <div class="progress-bar">
            <div class="step">
                <p>الراسل</p>
                <div class="bullet">
                    <span>1</span>
                    <div class="check fas fa-check"></div>
                </div>
            </div>
            <div class="step">
                <p>المستلم</p>
                <div class="bullet">
                    <span>2</span>
                    <div class="check fas fa-check"></div>
                </div>
            </div>
            <div class="step">
                <p>الشحن</p>
                <div class="bullet">
                    <span>3</span>
                    <div class="check fas fa-check"></div>
                </div>
            </div>
            <div class="step">
                <p>اضافيه</p>
                <div class="bullet">
                    <span>4</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
        </div>
        <div class="form-outer">
            <form action="/user/order" method="POST">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <div class="page slide-page">
                    <div class="title">:الراسل </div>
                    <div class="field required">
                        <label for="name">الاسم</label>
                        <input class="required" type="text" name="name" id="name">
                    </div>
                    <div class="field required">
                        <label for="phone">الرقم</label>
                        <input class="required" type="text" name="phone" id="phone">
                    </div>
                    <div class="field required">
                        <label for="address">العنوان</label>
                        <input class="required" type="text" name="address" id="address">
                    </div>
                    <div class="field">
                        <label for="area">المنطقه</label>
                        <input type="text" name="area" id="area">
                       
                    </div>
                    <div class="field">
                        <label for="building">رقم العقار</label>
                        <input type="number" name="building" id="" min="0">
                    </div>
                    <div class="field">
                        <label for="floor">الدور</label>
                        <input type="number" name="floor" id="" min="0">
                    </div>
                    <div class="field">
                        <label for="apartment">رقم الشقه</label>
                        <input type="number" name="apartment" id="" min="0">
                    </div>

                    <div class="field">
                        <button class="firstNext next" data-next="two">التالي</button>
                    </div>
                </div>
                <div class="page two">
                    <div class="title">:معلومات المستلم</div>
                    <div class="field required">
                        <label for="name">الاسم</label>
                        <input class="required" type="text" name="recname" id="">
                    </div>
                    <div class="field required">
                        <label for="phone">الرقم</label>
                        <input class="required" type="text" name="recphone" id="">
                    </div>
                    <div class="field required">
                        <label for="address">العنوان</label>
                        <input class="required" type="text" name="recaddress" id="address">
                    </div>

                    <div class="field required">
                        <label for="recarea">المنطقه</label>
                        <select class="required" id="recarea" name="recarea" id="recarea">
                            <% for (z of zones) { %>
                                <option value="<%=z.zoneId%>">
                                    <%=z.name%>
                                </option>

                                <%}%>
                        </select>
                    </div>
                    <div class="field">
                        <label for="building">رقم العقار</label>
                        <input type="number" name="recbuilding" id="" min="0">
                    </div>
                    <div class="field">
                        <label for="floor">الدور</label>
                        <input type="number" name="recfloor" id="" min="0">
                    </div>
                    <div class="field">
                        <label for="apartment">رقم الشقه</label>
                        <input type="number" name="recapartment" id="" min="1">
                    </div>


                    <div class="field btns">
                        <button class="prev-1 prev">السابق</button>
                        <button class="next-1 next">التالي</button>
                    </div>
                </div>
                <div class="page">
                    <div class="title">:معلومات المنتج</div>
                    <div class="field">
                        <label for="is_liquid">سائل</label>
                        <input type="checkbox" name="is_liquid" id="is_liquid">
                    </div>
                    <div class="field">
                        <label for="is_fragile">قابل للكسر</label>
                        <input type="checkbox" name="is_fragile" id="is_fragile">
                    </div>
                    <div class="field required">
                        <label for="quantity"> الكميه</label>
                        <input class="required" type="number" name="quantity" id="quantity" min="1">
                    </div>
                    <div class="field required">
                        <label for="price"> سعر التحصيل</label>
                        <input class="required" type="number" name="price" id="price" min="0">
                    </div>
                    <div class="field">
                        <label for="desc"> تفاصيل</label>
                        <input type="text" name="desc" id="desc">
                    </div>

                    <div class="field btns">
                        <button class="prev-2 prev">السابق</button>
                        <button class="next-2 next">التالي</button>
                    </div>
                </div>

                <div class="page">
                    <div class="title">:معلومات اضافيه</div>
                    <div class="field required">
                        <label for="pickup_date">تاريخ الاستلام</label>
                        <input class="required" type="date" name="pickup_date" id="pickup_date">
                    </div>
                    <div class="field required">
                        <label for="delivery_date">تاريخ التوصيل</label>
                        <input class="required" type="date" name="delivery_date" id="delivery_date">
                    </div>
                    <div class="field">
                        <label for="notes">ملاحظه</label>
                        <input type="text" name="notes" id="notes">
                    </div>
                    <div class="field btns">
                        <button class="prev-3 prev">السابق</button>
                        <button class="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>