<title><%= pageTitle %></title>

<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Merienda|Sarabun:300,400,400i,500,600,600i,700,800&display=swap"
rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cairo:300,400,600,700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c735762739.js"></script>
  <link rel="stylesheet" href="/user/css/classes.css">

  <link rel="stylesheet" href="/user/css/main.css">
  <link rel="stylesheet" href="/user/css/public_nav.css">
  <link rel="stylesheet" href="/user/css/hover.css">