.single-item-core{
 
    border: 1px solid #ccc;
    margin: var(--m-margin);
    padding: var(--s-padding);
}

#search-date-type{
    margin:0 var(--s-margin);
    border: 0;
}

.content-desc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: var(--s-padding);
}

.box{
    padding: var(--s-padding);
    background-color: #f9f9f9;
    border: 1px solid #eee;
}
.box h3{
    margin: var(--m-margin) 0;
}