<title>
  <%= pageTitle %>
</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans|PT+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
<link rel="stylesheet" type="text/css" href="/general/slick/slick.css" />
<link rel="stylesheet" href="/admin/css/main.css" />

<link rel="stylesheet" href="/admin/css/classes.css">
<link rel="stylesheet" href="/general/css/chat.css">
<link rel="stylesheet" href="/admin/css/nav.css">
<link rel="manifest" href="/manifest.json" />

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-wep-app-status-bar-style" content="#2ea6c1">
<meta name="apple-mobile-web-app-title" content="Carry It">
<link rel="apple-touch-icon" href="/admin/images/icons/48.png" sizes="48x48">
<link rel="apple-touch-icon" href="/admin/images/icons/96.png" sizes="96x96">
<link rel="apple-touch-icon" href="/admin/images/icons/144.png" sizes="144x144">
<link rel="apple-touch-icon" href="/admin/images/icons/256.png" sizes="256x256">
<link rel="apple-touch-icon" href="/admin/images/icons/384.png" sizes="384x384">
<link rel="apple-touch-icon" href="/admin/images/icons/192.png" sizes="192x192">
<meta name="msapplication-TileImage" content="/src/images/icons/192.png">
<meta name="msapplication-TileColor" content="#fff">
<meta name="theme-color" content="#2ea6c1">