<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../includes/style.ejs') %>
    <link rel="stylesheet" href="/user/css/about.css">
</head>

<body>

    <%- include('../includes/nav.ejs') %>

    <div class="wrapper">

        <section id="about">
            <h2>عن شركتنا</h2>
            <p>نحن شركه ناشئه في مجال الشحن لدينا تصريح و سجل تجاري و مقر اداري لمزاوله المهنه , السبب الرئيسي لوجودنا
                هو اننا كنا و مازلنا نشحن منتاجات لنا و وجهنا نفس
                المشاكل اللتي تواجهك التي هي سبب رائيسي في عدم رضاء عملائك من تأخير الطلبات او توصيل طلبات خاطئه او لن
                نبالغ عندما نقول انهم يتلفون بضاعتك.<br>
            </p>

            <h2>هدفنا</h2>
            <p style="line-height: 2;">
                إرسال وتتبع البضائع الخاصة بك ، من الباب إلى الباب. سواء كانت نقله ضخمة
                أو حزمة كبيرة أو مستندًا واحدًا ، يمكنك الاختيار من بين مجموعة واسعة من الخدمات السريعة. بالنسبة
                للشحن الثقيل ، تتوفر خيارات سريعة واقتصادية.
            </p>

            <h2>رؤيتنا</h2>
            <p>
                نحن نشعر بما تشعر لذلك قررنا ان ننشئ هذه الشركه مع الوضع في
                الاعتبار جميع ماسبق من المشاكل و اكثر من ذلك ,لذلك نحن نضمن لك عدم حدوثها بأي شكل من الاشكال لان اساس
                تأسيس
                هذه
                الشركه هو لحل جميع المشاكل المتعارف عليها . نحن ندعوك لخوض التجربه معانا و نوعدك برضائك التام عن الخدمه
                انت
                و عملائك
            </p>

        </section>

    </div>
    <%- include('../includes/footer.ejs') %>
    <p class="footer-copyright">Designed and developed by <a style="color:#fff;"
            href="https://amsstudio.me">AMS-Studio</a> </p>
    <%- include('../includes/scripts.ejs') %>

</body>

</html>